body {
    background-image: url("../img/background.jpg"); 
    /*Photo by Pixabay: https://www.pexels.com/photo/black-metal-tools-hanged-on-a-rack-near-table-162631/*/
}

#calculator {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 500px;
    padding: 1.5%;
    background: linear-gradient(to right, #828282, #4d4d4d);
    box-shadow: 2px 2px 5px black;
    gap: 10px;
    border: solid;
  }

  .main-section {
    border-radius: 5px;
    display: flex;
    box-shadow: 2px 2px 5px gray;
  }

  #display {
    flex: 1;
    background-color: hsl(157, 8%, 25%);
    flex-direction: column;
    border: solid;
  }

  .display-subsection {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    border: 1px solid #d9d9d9;
    color: #fff;
  }  

  p {
    margin-right: 10px;
    font-family: 'Digital-7', monospace;
  }

  #curr {
    font-size: 25px;
  }

  #results-display {
    flex: 1;
  }

  #current-display {
    flex: 2;
  }

  #buttons {
    flex: 2;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 8px;
    padding: 2%;
    background-color: black;
  }

  #double-span {
    grid-row: 5 / 6;
    grid-column: 1 / 3;
  }

  button {
    flex: 1;
    background-color: #fff;
    color: #333;
    border: none;
    font-size: 1.2em;
    padding: 1em;
    width: 100%;
    height: 100%;
    text-align: center;
    font-weight: bold;
    border-radius: 3px;
    transition: background-color 0.1s ease-in-out;
  }

  button:active {
    background-color: rgba(245, 166, 35, 0.8);
  }

  button:hover {
    box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
  }

  .number:hover {
    box-shadow: inset 0 0 100px 100px rgba(0, 0, 0, 0.1);
  }
  
  .number {
    background-color: #f2f2f2;
  }
  
  .operator {
    background-color: #333333;
    color: #fff;
  }
  
  .other {
    background-color: #f44336;
    color: #fff;
  }
  
  #double-span {
    grid-column: span 2;
  }
  